body {
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.footer {
  margin-bottom: 20px;
}
